html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#all-keys {
  border: 1px dashed #000;
}

#log {
  display: none;
}

.keys {
  cursor: pointer;
  display: inline-block;
  height: 400px;
  margin: 0 0 30px;
  padding: 0;
  position: relative;
}

.keys li {
  border: 1px solid #000;
  border-top: none;
  display: inline-block;
  height: 100%;
  width: 70px;
}

.keys span {
  bottom: 0;
  font-family: Arial;
  font-size: 55px;
  margin: 0 16px 30px;
  position: absolute;
}

#play {
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 35px;
  display: inline-block;
  height: 18px;
  padding: 15px;
  width: 18px;
}

#play:active {
  border: 1px solid darkred;
}

#play #triangle {
  border-bottom: 10px solid transparent;
  border-left: 18px solid #000;
  border-top: 10px solid transparent;
  margin-left: 3px;
}

#play:active #triangle {
  border-left: 18px solid darkred;
}

.keys .sharp {
  background-color: #000;
  color: #fff;
  height: 62%;
  margin-left: -20px;
  position: absolute;
  width: 40px;
}

.keys .sharp span {
  font-size: 25px;
  margin: 0 3px 20px;
}

.pressed {
  background-color: lightblue !important;
}

.wrapper {
  width: 504px;
  margin: 0 auto;
}

@media (max-width: 650px) {
  #playlist {
    max-width: 250px;
  }

  .keys {
    height: 200px;
    margin: 0 0 15px;
  }

  .keys li {
    width: 35px;
  }

  .keys span {
    font-size: 27px;
    margin: 0 8px 15px;
  }

  .keys .sharp {
    margin-left: -10px;
    width: 20px;
  }

  .keys .sharp span {
    font-size: 12px;
    margin: 0 2px 10px;
  }

  #play {
    display: block;
    margin: 0 auto;
  }

  .wrapper {
    width: 260px;
  }
}
